body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.viz{
    
}

.titleHeader{
    min-width: 177px;
    max-width: 177px;
    height: 600px;
}

.rankHeader{
    min-width: 20px;
    max-width: 20px;
    height: 600px;
}

.headertext {
    text-transform: uppercase;
    font-size: 16px;
    fill: black;
}

.line {
    stroke-width: 2;
    fill: none;
}

.line-accent {
    stroke-width: 5;
    fill: none;
}

.label {
    font-size: 12px;
    fill: #bbb;
}

.label-accent {
    font-size: 13px;
    fill: cornflowerblue;
    display: block;
}

.label-no-accent {
    display: none;
}

.headertext:hover{
    text-decoration: underline;
}

.label, .line , .headertext{
    cursor: pointer;
}

.lineHeader {
    font-size: 11px;
}

.header-accent, .header-click {
    font-weight: bold;
}

.topYear {
    border: 1px solid black;
    line-height: 6px;
    font-size: 12px;
    max-height: fit-content;
    min-width: fit-content;
    align-self: center;
}